$b: "border";
$c: "color";

h2 {
  box-sizing: #{$b}-box; // box-sizing : border-box;
  #{$b}: 1px solid blue; // border : 1px solid blue;
  #{$c}: red; // color : red;
  background-#{$c}: green; // background-color : green;
}
