.number {
  font-weight: 400;
  line-height: 1.5;
  font-size: 20;
}

.strings {
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
}

// Colors
.colors {
  color: red;
  background-color: #ff0000;
  border-color: rgb(255, 0, 0);
  outline-color: hsl(0, 100%, 50%);
}

// Lists
.lists {
  margin: 10px 15px 5px 20px;
  font-family: "Raleway", "Dosis", "Lato";
  border: 1px solid red;
}

// Maps
$colors: (
  primary: red,
  secondary: green,
  tertiary: blue
);

h1 {
  color: map-get($colors, primary);
  background-color: map-get($colors, secondary);
}

// Booleans
// true, false

// null
